@media only screen and  (min-width: 200px) and (max-width: 334px){
	.container-fluid {
		padding: 0px !important;
	}
	
	.headercontact {
		padding: 5px 0;
		text-align: center;
	}
	.social-icons span {
		display: none;
	}
	.logo {
		width: 120px;
		bottom: 0px;
	}
	.logo img {
		width: 120px;
	}
	.navbar-toggler {
		padding: 1px 2px !important;
		font-size: 20px !important;
	}
	.singleService h4 a {
		font-size: 10px;
	}
	
	.slider{
		display: none;
	}
	.headercontact a,span {
		font-size: 11px;
		letter-spacing: 0.2px;
		padding-right: 0px;
	}
	.welcome-to-jcr-p1 p img{
		width: 60%;
		float: left;
		margin-right: 10px;
		display: block;
	}
	.welcome-to-jcr-p2{
		display: none;
	}
	.welcome-to-jcr-p1 p {
		font-size: 15px;
		padding-right: 0px !important;
		line-height: 29px;
		letter-spacing: 1px;
		padding-bottom: 20px;
		text-align: justify;
	}
	.carsection,.carsection2,.whyus,.translatebtn {
		display: none;
	}
	.welcome-to-jcr{
		padding: 30px 0px;
	}
	.whyus , .discover ,.rent{
		padding: 30px 0;
	}
	.form-group button{
		font-size: 14px;
		padding: 2px 2px;
	}
	.logo_cover {
		display: none;
	}

}
@media only screen and  (min-width: 335px) and (max-width: 576px){
	.container-fluid {
		padding: 0px !important;
	}
	
	.headercontact {
		padding: 5px 0;
		text-align: center;
	}
	.social-icons span {
		display: none;
	}
	.logo {
		width: 220px;
		bottom: 0px;
	}
	.logo img {
		width: 220px;
	}
	.singleService h4 a {
		font-size: 20px;
	}
	
	.slider{
		display: none;
	}
	.headercontact a,span {
		font-size: 11px;
		letter-spacing: 0.2px;
		padding-right: 0px;
	}
	.welcome-to-jcr-p1 p img{
		width: 60%;
		float: left;
		margin-right: 10px;
		display: block;
	}
	.welcome-to-jcr-p2{
		display: none;
	}
	.welcome-to-jcr-p1 p {
		font-size: 15px;
		padding-right: 0px !important;
		line-height: 29px;
		letter-spacing: 1px;
		padding-bottom: 20px;
		text-align: justify;
	}
	.carsection,.carsection2,.whyus,.translatebtn {
		display: none;
	}
	.welcome-to-jcr{
		padding: 30px 0px;
	}
	.whyus , .discover ,.rent{
		padding: 30px 0;
	}
	.form-group button{
		font-size: 14px;
		padding: 2px 2px;
	}
	.logo_cover {
		display: none;
	}
}

@media only screen and (min-width: 578px) and (max-width: 768px){
	.headercontact {
		padding: 5px 0;
		text-align: center;
	}
	.social-icons span {
		display: none;
	}
	.headercontact a,span {
		font-size: 12px;
		letter-spacing: 0.2px;
		padding-right: 0px;
	}
	.logo {
    	bottom: 0px;
	}
	.singleService h4 a {
		font-size: 20px;
	}
	.slider{
		display: none;
	}
	.welcome-to-jcr-p1 p img{
		width: 60%;
		float: left;
		margin-right: 10px;
		display: block;
	}
	.welcome-to-jcr-p1 p {
		font-size: 15px;
		padding-right: 0px !important;
		line-height: 29px;
		letter-spacing: 1px;
		padding-bottom: 20px;
		text-align: justify;
	}
	.welcome-to-jcr{
		padding: 30px 0px;
	}
	.carsection,.carsection2,.whyus,.welcome-to-jcr-p2,.translatebtn {
		display: none;
	}
	.form-group button{
		font-size: 14px;
		padding: 2px 2px;
	}
	.logo_cover {
		display: none;
	}
}
@media only screen and (min-width: 769px) and (max-width: 991px){
	.headercontact {
		padding: 5px 0;
		text-align: center;
	}
	.social-icons span {
		display: none;
	}
	.logo {
      bottom: 0px;
	}
	.slider{
		display: none;
	}
	.singleService h4 a {
		font-size: 20px;
	}
	.welcome-to-jcr-p1 p img{
		width: 60%;
		float: left;
		margin-right: 10px;
		display: block;
	}
	.welcome-to-jcr-p1 p {
		font-size: 15px;
		padding-right: 0px !important;
		line-height: 29px;
		letter-spacing: 1px;
		padding-bottom: 20px;
		text-align: justify;
	}
	.carsection,.carsection2,.whyus,.welcome-to-jcr-p2,.translatebtn {
		display: none;
	}
	.form-group button{
		font-size: 14px;
		padding: 2px 2px;
	}
	.logo_cover {
		display: none;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.logo {
		width: 200px;
	}
	.logo img{
		width: 200px;
		
	}
	.nav-item a {
		font-size: 10.5px;
	}
	.logo_cover {
		top: -23px;
	}
}
